/* line 1, ../sass/about.sass */
.about > div:nth-child(1), .contact > div:nth-child(1), .events > div:nth-child(1), .home > div:nth-child(1), .gallery > div:nth-child(1), .store > div:nth-child(1), .links > div:nth-child(1) {
  position: absolute;
  color: red;
  margin-top: -10px;
  margin-left: 23px; }

/* line 7, ../sass/about.sass */
.about, .contact, .gallery, .events, .store, .links {
  display: none;
  padding: 25px; }

/* About page images */
/* line 12, ../sass/about.sass */
img.about-img {
  max-width: 80%; }
