/* line 1, ../sass/main.sass */
img.kkas-logo {
  max-width: 90%; }

/* line 4, ../sass/main.sass */
a.spade-icon {
  background-image: url("../images/spade-icon.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  margin: 10px 75px 0 0; }

/* line 11, ../sass/main.sass */
.about > div:nth-child(1), .contact > div:nth-child(1), .events > div:nth-child(1), .home > div:nth-child(1), .gallery > div:nth-child(1), .store > div:nth-child(1), .links > div:nth-child(1) {
  position: absolute;
  color: red;
  margin-top: -10px;
  margin-left: 23px; }

/* line 17, ../sass/main.sass */
.navbar-nav {
  width: 100%;
  text-align: center; }
  /* line 20, ../sass/main.sass */
  .navbar-nav > li {
    float: none;
    display: inline-block; }

/* line 24, ../sass/main.sass */
.btn-responsive {
  padding: 4px 9px;
  font-size: 90%;
  line-height: 1.2; }

/* line 29, ../sass/main.sass */
.navigation-text {
  font-size: 2em;
  color: red;
  text-align: center;
  font-weight: bold;
  padding-top: 20px; }

/* line 36, ../sass/main.sass */
.content {
  display: none;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  /* future proofing */
  -khtml-border-radius: 45px;
  /* for old Konqueror browsers */ }

/* line 49, ../sass/main.sass */
.about, .contact, .gallery, .events, .store, .links {
  display: none;
  padding: 25px; }

/* line 53, ../sass/main.sass */
.main {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid black;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  /* future proofing */
  -khtml-border-radius: 45px;
  /* for old Konqueror browsers */
  width: 75%; }
  /* line 64, ../sass/main.sass */
  .main.contact {
    overflow: auto; }

/* line 67, ../sass/main.sass */
.kk-addr {
  float: left;
  margin: 30px; }

/* line 71, ../sass/main.sass */
.as-addr {
  float: right;
  margin: 30px; }

/* line 75, ../sass/main.sass */
.main.home {
  background-color: rgba(0, 0, 0, 0);
  border: none; }

/* Box around the link images on the links page */
/* line 81, ../sass/main.sass */
.link-box {
  display: inline-block;
  width: 320px;
  height: 240px; }

/* line 86, ../sass/main.sass */
.link-img {
  max-width: 320px; }

/* About page images */
/* line 90, ../sass/main.sass */
img.about-img {
  max-width: 80%; }

/* line 93, ../sass/main.sass */
#nav-about-link,
#nav-contact-link,
#nav-events-link,
#nav-home-link,
#nav-gallery-link,
#nav-store-link,
#nav-links-link {
  color: rgba(100, 100, 100, 0); }
  /* line 102, ../sass/main.sass */
  #nav-about-link span,
  #nav-contact-link span,
  #nav-events-link span,
  #nav-home-link span,
  #nav-gallery-link span,
  #nav-store-link span,
  #nav-links-link span {
    margin-left: 20px; }
