/* line 1, ../sass/main.sass */
a.spade-icon {
  background-image: url("../images/spade-icon.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  margin: 10px 75px 0 0; }

/* line 8, ../sass/main.sass */
.navbar-nav {
  width: 100%;
  text-align: center; }
  /* line 11, ../sass/main.sass */
  .navbar-nav > li {
    float: none;
    display: inline-block; }

/* line 15, ../sass/main.sass */
.btn-responsive {
  padding: 4px 9px;
  font-size: 90%;
  line-height: 1.2; }

/* line 20, ../sass/main.sass */
.navigation-text {
  font-size: 2em;
  color: red;
  text-align: center;
  font-weight: bold;
  padding-top: 20px; }

/* line 27, ../sass/main.sass */
.content {
  display: none;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  /* future proofing */
  -khtml-border-radius: 45px;
  /* for old Konqueror browsers */ }

/* line 40, ../sass/main.sass */
.main {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1px solid black;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  /* future proofing */
  -khtml-border-radius: 45px;
  /* for old Konqueror browsers */
  width: 85%; }
  /* line 51, ../sass/main.sass */
  .main.contact {
    overflow: auto; }

/* line 54, ../sass/main.sass */
#nav-about-link,
#nav-contact-link,
#nav-events-link,
#nav-home-link,
#nav-gallery-link,
#nav-store-link,
#nav-links-link {
  color: rgba(100, 100, 100, 0); }
  /* line 63, ../sass/main.sass */
  #nav-about-link span,
  #nav-contact-link span,
  #nav-events-link span,
  #nav-home-link span,
  #nav-gallery-link span,
  #nav-store-link span,
  #nav-links-link span {
    margin-left: 20px; }

/* line 66, ../sass/main.sass */
footer {
  color: white;
  background-color: rgba(100, 100, 100, 0.5); }
