a.spade-icon
  background-image: url('../images/spade-icon.png')
  background-repeat: no-repeat
  height: 32px
  width: 32px
  margin: 10px 75px 0 0

.navbar-nav
  width: 100%
  text-align: center
  > li
    float: none
    display: inline-block

.btn-responsive
  padding: 4px 9px
  font-size: 90%
  line-height: 1.2

.navigation-text
  font-size: 2em
  color: red
  text-align: center
  font-weight: bold
  padding-top: 20px

.content
  display: none
  margin: auto
  text-align: center
  background-color: rgba(255, 255, 255, 0.5)
  border: 1px solid black
  -moz-border-radius: 45px
  -webkit-border-radius: 45px
  border-radius: 45px
  /* future proofing
  -khtml-border-radius: 45px
  /* for old Konqueror browsers

.main
  margin: 30px auto
  background-color: rgba(255, 255, 255, 0.65)
  border: 1px solid black
  -moz-border-radius: 45px
  -webkit-border-radius: 45px
  border-radius: 45px
  /* future proofing
  -khtml-border-radius: 45px
  /* for old Konqueror browsers
  width: 85%
  &.contact
    overflow: auto

#nav-about-link,
#nav-contact-link,
#nav-events-link,
#nav-home-link,
#nav-gallery-link,
#nav-store-link,
#nav-links-link
  color: rgba(100,100,100,0)

  span
    margin-left: 20px

footer
  color: white
  background-color: rgba(100,100,100,0.5)